<section class="who-we-are-section py-5">
  <div class="container-fluid">
    <div class="row align-items-center gx-3">
      <!-- Left Content -->
      <div class="col-lg-3">
        <div class="content-box pre-enter-left">
          <p class="label-tag">WHO WE ARE</p>
          <h2 class="who-title mb-3">Building a brighter future for children, one step at a time</h2>
          <p class="who-description mb-4">We are a team of experienced child psychologists, therapists, and educators committed to helping children overcome developmental challenges and achieve meaningful milestones.

In child development, we focus on early identification, structured intervention, and continuous progress monitoring.</p>
          <a href="#" class="btn btn-discover">Discover more</a>
        </div>
      </div>

      <!-- Middle Image -->
      <div class="col-lg-5">
        <div class="image-container pre-enter-right p-3 bg-white rounded shadow-lg d-inline-block">
          <img src="assets/img/poster1.png" alt="Psychologist in office" class="img-fluid rounded">
          <div class="image-decoration"></div>
        </div>
      </div>

      <!-- Right Features -->
      <div class="col-lg-4">
        <div class="features-box pre-enter-left">
          <div class="row">
            <div *ngFor="let feature of features" class="col-md-12">
              <div class="feature-item">
                <div class="feature-icon">
                  <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="feature-content">
                  <h4 class="feature-title">{{ feature.title }}</h4>
                  <p class="feature-description">{{ feature.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
