<section class="who-we-are-section py-5">
  <div class="container-fluid">
    <div class="row align-items-center gx-3">
      <!-- Left Content -->
      <div class="col-lg-3">
        <div class="content-box">
          <p class="label-tag">WHO WE ARE</p>
          <h2 class="who-title mb-3">Building a brighter future for children, one step at a time</h2>
          <p class="who-description mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          <a href="#" class="btn btn-discover">Discover more</a>
        </div>
      </div>

      <!-- Middle Image -->
      <div class="col-lg-3">
        <div class="image-container">
          <img src="assets/theme/psychologist-in-office.jpg" alt="Psychologist in office" class="who-image">
          <div class="image-decoration"></div>
        </div>
      </div>

      <!-- Right Features -->
      <div class="col-lg-6">
        <div class="features-box">
          <div class="row g-3">
            <div *ngFor="let feature of features" class="col-md-6">
              <div class="feature-item">
                <div class="feature-icon">
                  <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="feature-content">
                  <h4 class="feature-title">{{ feature.title }}</h4>
                  <p class="feature-description">{{ feature.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
